header{
    background-color: cyan;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
} 
p{
    font-family: 'Times New Roman', Times, serif; color: #000; font-weight: bold;

}
body{
    background-color: rgb(174, 198, 198);

}
footer{
    background-color: rgb(177, 135, 215);
    color: white;
}